html {
    font-size: 10px;
}

p,ul{
    font-family: 'Lobster', cursive;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 2;
    color: #1E1E1E;
    
}

h1{
    font-family: 'Alata', sans-serif;
    font-size: 50px;
    text-align: center;
    color: #A31019;
    margin: 0;
    padding: 20px 0;
    text-shadow: 5px 5px 2px #161616;
}

html{
    background-color: #BBBBBB;
}

body{
    width: 600px;
    margin: 0 auto;
    background-color: #666666;
    padding: 0px 25px 25px 25px;
    border: 8px solid grey;
}

#titoune-head{
    display: block;
    margin: 0 auto;
}